<div class="container">
  <div *ngFor="let folderlist of folderlists;let i=index">
    <div class="folderlist">
      <div class="folderlist__headline" (click)="folderlist.open = !folderlist.open" (click)="routeTo(folderlist.id)">
        <div class="folderlist__opener">
          <i class="fa fa-fw fa-caret-right" *ngIf="!folderlist.open; else open"></i>
          <ng-template #open>
            <i class="fa fa-fw fa-caret-down"></i>
          </ng-template>
        </div>
        <div class="folderlist__title">{{folderlist.foldername}}</div>
      </div>
      <div *ngIf="folderlist.open">
        <div *ngFor="let folder of folderlist.children">
          <div class="folder" (click)="routeTo(folder.id)">
            <div class="folder__icon">
              <i class="fa fa-fw fa-folder-o"></i>
            </div>
            <div class="folder__title">{{folder.foldername}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

